/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
div {
  display: flex;
  flex-direction: column;
  border-left: 5px solid;
  border-color: #dddddd;
  padding-top: 15px;
  padding-bottom: 15px;
}
 p {
  margin: 5px;
 }

#answer {
  background-color: #ffffe1;
}

form {
  display: flex;
  width: 40%;
}

#question {
  border: solid 1px #878787;
  border-right: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 5px;
  width: 90%;
}

#submit {
  color: white;
  background-color: #337ab7;
  border: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 5px;
  width: 10%;
}

#prompt {
  font-size: 0.9rem;
}

a {
  text-decoration: none;
  color: #337ab7;
}
